Source: dnuos
Section: sound
Priority: optional
Maintainer: Brodie Rao <me+dnuos@dackz.net>
Build-Depends: cdbs (>= 0.4.48), python-all-dev, python-support (>= 0.5.6),
 debhelper (>= 5.0.42)
Standards-Version: 3.7.2

Package: dnuos
Architecture: any
Depends: ${python:Depends}
Description: Audio file metadata lister
 Dnuos is a console program that creates lists of music collections, based on
 directory structure.
 
 It supports MP3, AAC, Musepack, Ogg Vorbis, and FLAC audio files. Quality
 profile detection is also supported, including LAME quality preset
 information.
 
 Homepage: http://dnuos.tweek.us/


