#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_INSTALL_MANPAGES_dnuos=debian/dnuos.1

clean::
	find ./dnuos/locale -name '*.mo' -exec rm -f "{}" ';'
